.contain {
    background-color: rgb(217, 240, 224);
    font-family: Arial, Helvetica, sans-serif;
    width: 960px; 
    margin:auto;

 
}

h1{ 
    font-size: 60pt;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;


}


h2{
    font: size 40pt;
    color: rgb(4, 36, 4);

}

h3 {
    font: size 35pt;
    color: rgb(4, 36, 4);

}


p {

    font-size: 15pt;
    color: rgb(6, 56, 50);
}

.Q001 {
    background-color: rgb(206, 212, 210);
    width: 600px;
    margin: auto;

}
footer{
	text-align:center;
	height: 200px;
	background-color: #0d443b;
	color: rgb(0, 0, 0);
}
footer p{
    color:white;
}

