*{
    margin:0px;
    padding: 0px;
    
    background-color: #000;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo{
    width:100%;
    height:100%;
    margin-top: 5px;
    margin-left: 10px;
    padding-top: 0;
    padding-bottom: 20px;
    }
.slide{
    margin:0;
    padding:0;
    position: absolute;

}
#slider{
    margin:0px;
    padding:0px; 
    overflow: hidden;
   
}
#slider figure{
    position: relative;
    width:500%;
    margin:0;
    animation: 25s slider infinite;
   
}
#slider figure img{
    width:20%;
    float:left;
    

}
.slider{
    width:1000px;
    margin-left: 200px;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    background-position: center;
    background-size: cover;
}
@keyframes slider{
    0%{
        left:0;
    }
    20%{
        left:0;
    }
    25%{
        left:-100%;
    }
    45%{
        left:-100%;
    }
    50%{
        left:-200%;
    }
    70%{
        left:-200%;
    }
    75%{
        left:-300%;
    }
    95%{
        left:-300%;
    }
    100%{
        left:-400%;
    }

}  
.login-btn{
    margin:0px auto 0;
    padding:20px;
    flex: 1;
    text-align: right;
    margin-top: 10px;
    margin-left: 300px;
    margin-bottom: 30px;
    margin-right: 10px;
}
.login-btn a{
    width:100px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    margin:0 10px;
    padding: 12px 0;
    color:rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    position: relative;
    z-index: 1;
    transition: color 0.5s;
    color:rgb(255, 255, 255);
    text-decoration: none;
    font-size: 17px;
}

.login-btn a span{
    width: 0;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    background: #fff;
    z-index: -1;
    transition: 0.4s;
}
.login-btn a:hover span{
    width:100%;
}
.login-btn a:hover{
    color:#000;
}

.container p{
    color:#fff;
    margin:35px;
    font-size: 29px;
    text-align: center;
    font-family: Geneva,Tahoma,Verdana,sans-serif; 
    text-decoration:none;
    text-transform: lowercase;
}
h1{
    color:aqua;
    
    font-size: 50px;
    margin-left: 25px;
}
.disc{
    color:rgb(238, 255, 0);
    font-family: Geneva,Tahoma,Verdana,sans-serif; 
    margin:20px;

    font-size: 35px;
    text-align: center;
    
}
.galary-btn{
    margin:0px auto 0;
    padding:20px;
    flex: 1;
    text-align: center;
    margin:0;
}
.galary-btn a{
    width:100px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    margin:0 10px;
    padding: 12px 0;
    color:rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    position: relative;
    z-index: 1;
    transition: color 0.5s;
    color:rgb(255, 255, 255);
    text-decoration: none;
    font-size: 17px;
}

.galary-btn a span{
    width: 0;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    background: #fff;
    z-index: -1;
    transition: 0.4s;
}
.galary-btn a:hover span{
    width:100%;
}
.galary-btn a:hover{
    color:#000;
}