*{
    margin:0px;
    padding: 0px;
    
    background-color:rgb(217, 240, 224);
    
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo{
    width:50%;
    height:50%;
    margin-top: 5px;
    margin-left: 10px;
    padding-top: 0;
    padding-bottom: 20px;
    }



#slider{
    margin:10px;
    padding:0px; 
    overflow: hidden;
    
    
    background-position: center;
    background-size: cover;
    
   
}
#slider figure{
    position: relative;
    width:500%;
    margin:0;
    animation: 25s slider infinite;
   
}
#slider figure img{
    width:20%;
    float:left;
    

}

@keyframes slider{
    0%{
        left:0;
    }
    20%{
        left:0;
    }
    25%{
        left:-100%;
    }
    45%{
        left:-100%;
    }
    50%{
        left:-200%;
    }
    70%{
        left:-200%;
    }
    75%{
        left:-300%;
    }
    95%{
        left:-300%;
    }
    100%{
        left:-400%;
    }

}  
.login-btn{
    margin:0px auto 0;
    padding:20px;
    flex: 1;
    
    margin-top: 10px;
    margin-left: 0px;
    margin-bottom: 30px;
    margin-right: 10px;
}
.login-btn a{
    width:100px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    margin:0 10px;
    padding: 12px 0;
    color:rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    position: relative;
    z-index: 1;
    transition: color 0.5s;
    color:rgb(0, 0, 0);
    text-decoration: none;
    font-size: 17px;
}

.login-btn a span{
    width: 0;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    background: rgb(0, 0, 0);
    z-index: -1;
    transition: 0.4s;
}
.login-btn a:hover span{
    width:100%;
}
.login-btn a:hover{
    color:rgb(255, 255, 255);
}

.container p{
    color:rgb(0, 0, 0);
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 200px;
    margin-right: 200px;
    font-size: 19px;
    text-align: center;
    font-family: 'Noto Serif Display', serif;
    text-decoration:none;
    
}
.top h1{
    color:rgb(0, 140, 255);
    
    font-size: 30px;
    margin-left: 25px;
}
.disc{
    color:rgb(0, 0, 0);
    font-family: 'Noto Serif Display', serif;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 40px;
    margin-top: 20px;

    font-size: 19px;
    text-align: center;
    
}
.galary-btn{
    margin-left: 540px;
    margin-right: 10px;
    padding:20px;
    flex: 1;
    text-align: center;
    display: inline;
}
.galary-btn a{
    width:100px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    margin:0 10px;
    padding: 12px 0;
    color:rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    position: relative;
    z-index: 1;
    transition: color 0.5s;
    color:rgb(0, 0, 0);
    text-decoration: none;
    font-size: 17px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
  
    text-decoration: none;
}

.galary-btn a span{
    width: 0;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    background: rgb(0, 0, 0);
    z-index: -1;
    transition: 0.4s;
}
.galary-btn a:hover span{
    width:100%;
}
.galary-btn a:hover{
    color:rgb(255, 255, 255);
}
.Other-industy h1{
    width:80%;
    margin:auto;
    text-align: center;
    padding-top: 50px;
    margin-bottom: 20px;
    font-family: 'Noto Serif Display', serif;
    font-size: 23px;
}
.row ul{
    list-style: none;
    
    justify-content: space-between;
    display: inline-block;
    margin-left: 100px;
}
.row ul li{
    justify-content: space-between;
    display: inline-block;
    align-items: center;
    padding: 40px;
  
}
.industry-col{
    flex: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.industry-col img{
    width: 300px;
    height: 300px;   
    display: block; 
}
.layer{
    background:transparent;
    height: 100%;
    width: 100%;
    padding: 5px;
    position: absolute;
    top:0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background: rgba(226,0,0,0.7);

}
.layer h3{
    width:100%;
    font-weight: 500;
    color:rgb(0, 0, 0);
    font-size: 25px;
    text-align: center;
    bottom: 0;
    left:50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;


}

.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}
.form1 input[type="text"]{
	height: 20px;
	padding:12px 20px;
	margin: 8px 0;
	display:inline-block;
	border:1px solid rgb(0, 0, 0);
	box-sizing:border-box;
	color: rgb(0, 0, 0);
	background-color: #000000;
} 
.form1 input[type="submit"]{
	height: 30px;
	width: 100px;
	background-color: #19095f;
	color:rgb(255, 255, 255);
	padding:0px 0px;
	margin:8px 0;
	cursor:pointer;
	font-size:14px;
	border-radius: 0px;
}
.containt5{

    margin-top: 80px;
    margin-bottom: 0;
}

footer{
	text-align:center;
	height: 200px;
	background-color: #0d443b;
	color: rgb(0, 0, 0);
}
.end-bar {
    padding: 20px;
    font-size: 15px;
    width: 300px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  .end-bar:hover {
      opacity: 0.7;
  }
  .socialmedia {
    text-align: center;
}

.fa {
    padding: 5px;
    font-size: 200px;
    width: 60px;
    margin: 10px 4px;
    
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
   
    color: rgb(0, 0, 0);
  }
  
  .fa-twitter {
    color: rgb(0, 0, 0);
  }
  
  .fa-google {
    color: rgb(0, 0, 0);
  }
  
  .fa-linkedin {
    color: rgb(0, 0, 0);
  }
  
  .fa-youtube {
    color: rgb(0, 0, 0);
  }
  
  .fa-instagram {
    color: rgb(0, 0, 0);
  }

